/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2016, 12:22:26
    Author     : janka
*/

.logo {
    height: 55px;
}

.header_hardware{
    background-color: #23527c;
}
.header_coppy{
    background-color: #DD4132;
}